PORT_EXPRESS=4000
PORT_FASTAPI=8000
PORT_REACT=5173
PORT_SVELTE=5174
MONGO_URI=mongodb://mongo:27017/busyahu_db
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=Admin123!
MONGO_INITDB_DATABASE=busyahu_db
JWT_SECRET=super_secret_jwt_key_busyahu_prog3_2026_secure
JWT_EXPIRES_IN=24h
